// Nie ma potrzeby nazywania kolorów w kontekście elementów.
// Proponuje stosować dla porządku pełne formy kolorów (6 znaków) oraz jednakowym formacie (lower/uppercase).
$colorForm: #00C3D6;
$colorFont: #FFF;
$colorFormBorder: #7febff;
$colorSubmitButton: #FFF;
