@import 'colors';

.main {
  background-image: url("../images/bg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
}

.login {
  background-color: $colorForm;
  color: $colorFont;
  border-radius: 5px;
  text-align: center;
  margin-top: 150px;
  form {
    border: 1px solid $colorFormBorder;
    border-radius: 5px;
    margin: 100px 20px;
    padding-right: 25px;
    padding-left: 25px;
    .avatar {
      width: 94px;
      height: 94px;
      border-radius: 50%;
      background-color: #FFF;
      display: inline-block;
      margin-top: -45px;
      margin-bottom: 25px;
    }
    input {
      border-radius: 5px;
      background-color: #fff;
      border: none;
    }
    }
  }


