// Logo jest częścią składową layoutu, moze zamiasta indiwidualnego pliku tylko z tą klasą ogólny plik z takimi elementami? Np. _layout.scss.
.logo {
  margin-top: 50px;
  height: 160px;
  width: 160px;
  float: right;
}
